---
layout: page
title:  "vita"
date:   2015-01-11 15:19:00
categories: cv
---
<style>
  h1.category {
    color: #4D4D4D;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
  }
</style>

<table cellpadding="5">
  <tr>
    <td colspan="2"><h1 class="category">Positions</h1></td>
  </tr>
{% for position in site.data.positions %}
  <tr>
    <td valign="top" style="white-space: nowrap;" align="right"> {{position.time}} </td>
    <td>
      <b> {{position.title}} </b> <br>
      {{position.institution}} ({{position.location}}) <br>
      <i>Advisor</i>: {{position.advisor}} <br>
      <i>Interest</i>: {{position.interest}} <br>
    </td>
  </tr>
{% endfor %}

  <tr>
    <td span="2" valign="bottom"><h1 class="category"><br>Awards</h1></td>
  </tr>
{% for award in site.data.awards %}
    <tr>
      <td valign="top" style="white-space: nowrap;" align="right"> {{award.year}} </td>
      <td> <b>{{award.name}}</b>{% if award.description != null %}, {{award.description}}{% endif %}</td>
    </tr>
{% endfor %}

  <tr>
    <td colspan="2" valign="bottom"><h1 class="category"><br>Invited Lectures</h1></td>
  </tr>
{% for lecture in site.data.lectures %}
    <tr>
      <td valign="top" style="white-space: nowrap;" align="right"> {{lecture.time}} </td>
      <td>
        <b>{{lecture.title}}</b> <br>
        {{lecture.institution}} <br>
        {{lecture.location}}
      </td>
    </tr>
{% endfor %}

  <tr>
    <td colspan="2" valign="bottom"><h1 class="category"><br>Posters</h1></td>
  </tr>
{% for poster in site.data.posters %}
    <tr>
      <td valign="top" style="white-space: nowrap;" align="right"> {{poster.time}} </td>
      <td>
        <b>{{poster.title}}</b><br>
        {{poster.authors}} <br>
        presented at {{poster.event}}<br>
        {{poster.location}}
      </td>
    </tr>
{% endfor %}

  <tr>
    <td colspan="2" valign="bottom"><h1 class="category"><br>Selected Teaching</h1></td>
  </tr>
{% for teach in site.data.teaching %}
    <tr>
      <td valign="top" style="white-space: nowrap;" align="right"> {{teach.time}} </td>
      <td>
        <i>{{teach.role}}</i> for <b>{{teach.title}}</b><br>
        {{teach.level}}, {{teach.location}}
      </td>
    </tr>
{% endfor %}
</table>
