---
layout: default
title:  members
categories: cv
header_order: 3
permalink: /members/
---
<div class="row">
  <h1>Principle Investigator</h1>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3">
    <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/smp.jpg" alt="Shane M. Parker">
  </div>
  <div class="col-sm-8 col-md-8">
      <p>Shane is an assistant professor of chemistry at CWRU. Shane grew up in
      Southwest Florida and studied Math and Chemistry at the
      University of Florida. After a year as a Fulbright Fellow 
      at the Technische Universitaet Muenchen, Shane started graduate school at Northwestern
      University in the groups of Prof. Tamar Seideman and Prof. Mark Ratner.
      During graduate school, Shane became interested in the electronic
      structure of the excited states of molecular aggregates and, with the
      help of Prof. Toru Shiozaki, started his journey as a quantum chemistry
      developer. He continued that journey during his postdoc with Filipp Furche
      at University of California, Irvine. Shane joined CWRU as an assistant
      professor in July 2019.</p>

      <ul class="list-unstyled">
        <li>e-mail: <a href="mailto:shane.parker@case.edu">shane.parker@case.edu</a></li>
        <li>office: 228 Millis Hall</li>
        <li>phone: ‭(216) 368-3697‬</li>
        <li><a href="{{base.url}}/assets/{{site.cv.name}}">CV</a> (last updated {{site.cv.date}})</li>
      <ul>
  </div>
</div>
<div class="row">
  <h2>Postdoctoral Scholars</h2>
</div>
{% for postdoc in site.data.postdocs %}
{% assign modindex = forloop.index0 | modulo: 4 %}
{% if modindex == 0 %}
<div class="row">
{% endif %}
    <div class="col-xs-offset-2 col-xs-8 col-xs-clear col-sm-6 col-sm-offset-0 col-md-3">
      {% if postdoc.photo %}
        <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/{{postdoc.photo}}" alt="{{postdoc.name}}">
      {% else %}
        <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/no-photo.png" alt="{{postdoc.name}} not pictured">
      {% endif %}
      <h3>{{postdoc.name}}</h3>
      <ul class="list-unstyled">
        <li>e-mail: <a href="mailto:{{postdoc.email}}">{{postdoc.email}}</a></li>
        <li>office: {{postdoc.office}}</li>
        <li>research interests: {{postdoc.interests}}</li>
      <ul>
    </div>
{% if modindex == 3 or forloop.last %}
</div>
{% endif %}
{% endfor %}

<div class="row">
  <h2>Graduate Students</h2>
</div>
{% for student in site.data.grad_students %}
{% assign modindex = forloop.index0 | modulo: 4 %}
{% if modindex == 0 %}
<div class="row">
{% endif %}
    <div class="col-xs-offset-2 col-xs-8 col-xs-clear col-sm-6 col-sm-offset-0 col-md-3">
      {% if student.photo %}
        <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/{{student.photo}}" alt="{{student.name}}">
      {% else %}
        <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/no-photo.png" alt="{{student.name}} not pictured">
      {% endif %}
      <h3>{{student.name}}</h3>
      <ul class="list-unstyled">
        <li>e-mail: <a href="mailto:{{student.email}}">{{student.email}}</a></li>
        <li>office: {{student.office}}</li>
        <li>research interests: {{student.interests}}</li>
      <ul>
    </div>
{% if modindex == 3 or forloop.last %}
</div>
{% endif %}
{% endfor %}

<div class="row">
  <h2>Undergraduate Students</h2>
</div>
{% for student in site.data.undergrad_students %}
{% assign modindex = forloop.index0 | modulo: 4 %}
{% if modindex == 0 %}
<div class="row">
{% endif %}
    <div class="col-xs-offset-2 col-xs-8 col-xs-clear col-sm-6 col-sm-offset-0 col-md-3">
      {% if student.photo %}
        <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/{{student.photo}}" alt="{{student.name}}">
      {% else %}
        <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/no-photo.png" alt="{{student.name}} not pictured">
      {% endif %}
      <h3>{{student.name}}</h3>
      <ul class="list-unstyled">
        <li>e-mail: <a href="mailto:{{student.email}}">{{student.email}}</a></li>
        {% if student.office %} <li>office: {{student.office}}</li> {% endif %}
        <li>research interests: {{student.interests}}</li>
      <ul>
    </div>
{% if modindex == 3 or forloop.last %}
</div>
{% endif %}
{% endfor %}

<div class="row">
  <h2>Alumni</h2>
</div>
<table class="directory">
  <tr>
    <th></th>
    <th><b>position</b></th>
    <th><b>where</b></th>
    <th><b>email</b></th>
    <th><b>left CWRU</b></th>
    <th><b>former position</b></th>
  </tr>
  {% assign sortedpeople = site.data.alumni | sort: 'left' %}
  {% for person in sortedpeople %}
  <tr>
    <td class="name"> {{person.name}} </td>
    <td> {{person.position}} </td>
    <td> {{person.where}} </td>
    <td> {{person.email}} </td>
    <td> {{person.left}} </td>
    <td> {{person.was}} </td>
  </tr>
  {% endfor %}
</table>
