---
layout: page
title:  publications
categories: cv
header_order: 1
permalink: /publications/
---
<ol class="publications">
  {% for paper in site.data.papers %}
    <li value="{{forloop.rindex}}">
      {% for name in paper.authors %}
        {% if name == "me" %} <u>S. M. Parker</u>, {% else %} {{name}}, {% endif %}
      {% endfor %}
        <br>
        {% if paper.journal %}<i>{{paper.journal}}</i>{% endif %}{% if paper.volume %},
                               <b>{{paper.volume}}</b>{% endif %}{% if paper.page %},
                                    {{paper.page}}    {% endif %}
                                   ({{paper.year}})
         {% if paper.note %} {{paper.note}} {% endif %}
    <br> {% if paper.url %}<a href="{{paper.url}}">{% endif %}"{{paper.title}}"{% if paper.url %}</a>{% endif %}
  {% endfor %}
</ol>
