---
layout: default
title:  publications
categories: cv
header_order: 3
permalink: /publications/
icon: fa-book
---
<h3>Journal articles</h3>
<ol class="publications">
  {% for paper in site.data.papers %}
    <li value="{{forloop.rindex}}">
      <div class="row">
        <div class="col-sm-9 col-md-10">
      {% for name in paper.authors %}
        {{name}},
      {% endfor %}
        <br>
        {% if paper.journal %}<i>{{paper.journal}}</i>{% endif %}{% if paper.volume %},
                               <b>{{paper.volume}}</b>{% endif %}{% if paper.page %},
                                    {{paper.page}}    {% endif %}
                                   ({{paper.year}})
         {% if paper.note %} {{paper.note}} {% endif %}
    {% if paper.doi %}<br>doi: {{paper.doi}} {% endif %}
    <br> {% if paper.doi %}<a href="https://dx.doi.org/{{paper.doi}}" target="_blank">{% endif %}"{{paper.title}}"{% if paper.doi %}</a>{% endif %}
    {% if paper.preprint_pdf %}(<a href="{{base.url}}/preprints/{{paper.preprint_pdf}}" target="_blank">{{paper.preprint}}</a>)
    {% elsif paper.preprint_url %} (<a href="{{paper.preprint_url}}" target="_blank">{{paper.preprint}}</a>){% endif %}
    {% if paper.special %} ({% if paper.special_url %}<a href="{{paper.special_url}}" target="_blank">{% endif %}{{paper.special}}{% if paper.special_url %}</a> {% endif %}) {% endif %}
    </div>
    {% if paper.graphic %}
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid" src="{{base.url}}/assets/toc/{{paper.graphic}}" alt="{{paper.title}}">
    </div>
    {% endif %}
  {% endfor %}
</ol>

<h3>Book chapters</h3>
<ol class="publications">
  {% for chapter in site.data.chapters %}
    <li value="{{forloop.rindex}}">
      {% for name in chapter.authors %}
       {{name}},
      {% endfor %}
        <br>
        {{chapter.page}}, ({{chapter.year}}){% if chapter.doi %}, doi: {{chapter.doi}} {% endif %} <br>
        {% if chapter.doi %}<a href="https://dx.doi.org/{{chapter.doi}}" target="_blank">{% endif %}"{{chapter.title}}"{% if chapter.doi %}</a>{% endif %} <br>
        in {% if chapter.bookdoi %} <a href="https://dx.doi.org/{{chapter.bookdoi}}" target="_blank"> {% endif %}
          <i>{{chapter.book}}</i>{% if chapter.bookdoi %}</a>{% endif %}, edited by {{chapter.editor}}, {{chapter.publisher}} <br>
  {% endfor %}
</ol>
