---
layout: page
title:  publications
categories: cv
header_order: 1
permalink: /publications/
---
<div>
  <ol class="publications">
    {% for paper in site.data.papers %}
      <li value="{{forloop.rindex}}">
        {% for name in paper.authors %}
          {% if name == "me" %} <u>S. M. Parker</u>, {% else %} {{name}}, {% endif %}
        {% endfor %}
      <br><i>{{paper.journal}}</i>, <b>{{paper.volume}}</b>, {{paper.page}} ({{paper.year}})
      <br><a href="{{paper.url}}">"{{paper.title}}"</a>
    {% endfor %}
  </ol>
</div>
