---
layout: default
title:  software
categories: cv
header_order: 4
permalink: /software/
---
<div class="row">
{% for code in site.data.software %}
{% assign modindex = forloop.index0 | modulo: 3 %}
{% if modindex == 0 %}
<div class="row">
{% endif %}
  <div class="col-xs-offset-2 col-xs-8 col-xs-clear col-sm-6 col-sm-offset-0 col-md-4">
    <a href="{{code.url}}">
      <img class="img-responsive img-rounded center-block" src="{{base.url}}/assets/{{code.image}}" alt="{{code.alt}}">
    </a>
    <h3>{{code.name}}</h3>
    <p> {{code.description}} </p>
  </div>
{% if modindex == 2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
