---
layout: default
title:  vita
categories: cv
header_order: 2
permalink: /vita/
---
<table class="vita">
  <tr class="category" id="positions">
    <td colspan="2"><h1>Positions</h1></td>
  </tr>
{% for position in site.data.positions %}
  <tr>
    <td class="vita-nowrap"> {{position.time}} </td>
    <td>
      <b> {{position.title}} </b> <br>
      {{position.institution}} ({{position.location}}) <br>
      <i>Advisor</i>: {{position.advisor}} <br>
      <i>Interest</i>: {{position.interest}} <br>
    </td>
  </tr>
{% endfor %}

  <tr class="category"  id="awards">
    <td colspan="2" valign="bottom"><h1>Awards</h1></td>
  </tr>
{% for award in site.data.awards %}
  <tr>
    <td class="vita-nowrap"> {{award.year}} </td>
    <td> <b>{{award.name}}</b>{% if award.description %}, {{award.description}}{% endif %}</td>
  </tr>
{% endfor %}

  <tr class="category" id="lectures">
    <td colspan="2" valign="bottom"><h1>Talks</h1></td>
  </tr>
{% for lecture in site.data.lectures %}
  <tr>
    <td class="vita-nowrap"> {{lecture.time}} </td>
    <td>
      <b>{{lecture.title}}</b> {% if lecture.invited %} (<i>invited</i>) {% endif %} <br>
      {{lecture.institution}} <br>
      {{lecture.location}}
    </td>
  </tr>
{% endfor %}

  <tr class="category" id="posters">
    <td colspan="2" valign="bottom"><h1>Posters</h1></td>
  </tr>
{% for poster in site.data.posters %}
  <tr>
    <td class="vita-nowrap"> {{poster.time}} </td>
    <td>
      <b>{{poster.title}}</b><br>
      {{poster.authors}} <br>
      presented at {{poster.event}}<br>
      {{poster.location}}
    </td>
  </tr>
{% endfor %}

  <tr class="category" id="teaching">
    <td colspan="2" valign="bottom"><h1>Selected Teaching</h1></td>
  </tr>
{% for teach in site.data.teaching %}
  <tr>
    <td class="vita-nowrap"> {{teach.time}} </td>
    <td>
      <i>{{teach.role}}</i> for <b>{{teach.title}}</b><br>
      {{teach.level}}, {{teach.location}}
    </td>
  </tr>
{% endfor %}
</table>
