<footer class="site-footer">
  <nav class="navbar navbar-default navbar-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <ul class="ul-footer">
            <li><div>
              <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              </ul>
            </div></li>
            <li><div>
              <ul class="social-media-list">
                {% if site.github_username %}
                <li>
                  <a href="https://github.com/{{ site.github_username }}">
                    {{site.github_icon}}

                    <span class="username">smparker</span>
                  </a>
                </li>
                {% endif %}

                {% if site.gitlab_teamname %}
                <li>
                  <a href="https://gitlab.com/{{ site.gitlab_teamname }}">
                    {{site.gitlab_icon}}

                    <span class="username">team-parker</span>
                  </a>
                </li>
                {% endif %}

                {% if site.twitter_username %}
                <li>
                  <a href="https://twitter.com/{{ site.twitter_username }}">
                    {{site.twitter_icon}}
                    <span class="username">@{{ site.twitter_username }}</span>
                  </a>
                </li>
                {% endif %}

                {% if site.youtube_username %}
                <li>
                  <a href="https://youtube.com/@{{ site.youtube_username }}">
                    {{site.youtube_icon}}
                    <span class="username">@{{ site.youtube_username }}</span>
                  </a>
                </li>
                {% endif %}

                {% if site.google_scholar %}
                <li>
                  <a href="https://scholar.google.com/citations?user=OqC2Vc8AAAAJ&hl=en">
                    {{site.scholar_icon}}
                    <span class="username">scholar</span>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="https://orcid.org/0000-0002-1110-3393" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;">
                    <span class="icon"><img src="{{ site.baseurl }}/assets/orcid_badge.png" style="width:16px" alt="ORCID iD icon"></span>
                    <span class="username">0000-0002-1110-3393</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.researcherid.com/rid/R-9871-2016">
                    <span class="icon"><img src="{{ site.baseurl }}/assets/rid_badge.png" style="width:16px" alt="ResearcherID icon"></span>
                    <span class="username">R-9871-2016</span>
                  </a>
                </li>
              </ul>
            </div></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="motto">{{site.motto}}</div>
        </div>
      </div>
    </div>
  </nav>
</footer>
