---
---

@import "bootstrap";

// Default layout
body {
  padding-top: 60px;
  padding-bottom: 0px;
}

// Footer
.site-footer {
  margin-top: 25px;
}

.ul-footer {
  margin: 0;
  padding: 0;

  .contact-list,
  .social-media-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .social-media-list {
    text-align: center;
    @media (max-width: $screen-sm-max) {
      text-align: right;
    }
    @media (min-width: $screen-sm-min) {
      text-align: center;
    }
  }
  > li {
    display: table-cell;
    width: 1%;
    float: none;
  }
}

.motto {
  @media (max-width: $screen-sm-max) {
    text-align: center;
    vertical-align: bottom;
    padding-top: 1em;
  }
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.navbar-footer {
  background-color: #fff;
  border-bottom: 0;
  padding-top: 20px;
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #222;
        }
    }
}

// landing page
.mug {
  img {
    max-width: 25%;
  }
  margin: auto;
  horizontal-align: center;
}

// Publications table
.publications {
  @media (max-width: $screen-xs-max) {
    padding-left: 1em;
  }

  li{
    margin-top: 10px;
  }
  li:first-child {
    margin-top: 0;
  }
}

// vita table
.vita {
  margin-top: -20px;
  td {
    padding: 5px;
  }

  .category {
    color: #4D4D4D;
    border-bottom: 2px solid #888;
    padding: 0px;

    h1 {
      font-size: 150%;
    }

    td {
      padding-top: 5px;
      padding-bottom: 0px;
    }
  }
}

// Side scroller on vita page
ul.vita-cats {
  position: fixed;
  padding-top: 2em;
}

li.cat-item {
  font-size: 112.5%;
  a {color: lighten(black, 10%);}
  padding: 0 0 0 0.2em!important;
  margin: 0 !important;
}

li.cat-item.active {
  border-left: 0.2em solid lighten(black, 40%);
  padding: 0 !important;
}

.vita-nowrap {
  vertical-align: top;
  text-align: right;

  @media (min-width: $screen-sm-min) {
    white-space: nowrap;
  }
}