---
---

$font-size-base: 17px;

@import "bootstrap";

.publications {
  font-size: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 70 px;
}

.mug {
  img {
    max-width: 25%;
  }
  margin: auto;
  horizontal-align: center;
}

 // Icons
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #222;
        }
    }
}

.ul-footer {
  .contact-list,
  .social-media-list {
      list-style: none;
      margin-left: 0;
  }
  > li {
    display: table-cell;
    width: 1%;
    float: none;
  }

}

.navbar-footer {
  background-color: #fff;
  border-bottom: 0;
  padding-top: 20px;
}
